/*Configurações principais*/
.principal {
    text-align: center;
}

.tabelas {
    background-color: antiquewhite;
    margin: auto;
    width: 50%;
    padding: 7px;
    border-radius: 7px;
}

h2 {
    text-align: left;
    margin: auto;
    width: 50%;
}

/*Configurações das tabelas*/
table {
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}

table.moda th{
    background-color: #BB86FC;
    padding: 7px;
}

table.casa th{
    background-color: #00C4B4;
    padding: 7px;
}

table td {
    background-color: #424250;
    padding: 7px;
}